* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --deep-blue: rgba(1, 1, 30, 1);
  --deep-blue-translucent: rgba(1, 1, 30, 0.5);
}

@font-face {
  font-family: "Jost";
  src: url("./fonts/Jost-VariableFont_wght.ttf");
}

body,
html {
  font-family: "Jost";
  background-color: var(--deep-blue);
  color: #fefefe;
}

#logo {
  position: fixed;
  top: 2%;
  right: 2%;
  /* letter-spacing: 4px; */
  font-size: 2.5rem;
  font-weight: 900;
}

.page-container {
  display: grid;
  grid-template-columns: 15% minmax(85%, 200%);
}

.nav-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 100vh;
}

.nav-panel .nav-item {
  cursor: pointer;
  font-size: 4rem;
  padding: 1rem;
}

.content-panel {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  overflow-x: auto;
  overflow-y: hidden;

  /* scroll-hidden hack for IE and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.content-panel::-webkit-scrollbar {
  display: none;
}

.content-panel .panel-item {
  min-width: 500px;
  min-height: 300px;
  border-radius: 8px;
  background-color: white;
}
